/* Root layout */
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 6rem; /* space for fixed navbar */
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1fffa;
  color: #001652;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  width:max-content;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0;
  left: 15rem;
  width: 70%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-weight: bold;
  font-size: 1.25rem;
  color: #001652;
}

.nav-right {
  font-weight: bold;
  font-size: 1.25rem;
  color: #001652;
}

.nav {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #001652;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #e4e4e4;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

th, td {
  border: 1px solid #7a7a7a;
  padding: 0.5rem;
  text-align: center;
}

svg:hover {
  background-color: #e4e4e4;
  color: #0036ca;
  cursor: pointer;
}

/* Form styles - aligned like table columns */
form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 500px;
  margin: 2rem auto 0;
  text-align: left;
}

form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #001652;
}

form input,
form select {
  margin-top: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color:#001652;
}

/* Placeholder text style */
form input::placeholder {
  color: #677394;
  font-style: italic;
}

/* Form button styles */
form button {
  justify-self: end;
  padding: 0.5rem 1.25rem;
  background-color: #001652;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}

form button:hover {
  background-color: #334288;
}

input, button, select {
  font-family: Arial, sans-serif;
}

.card {
  padding: 2em;
}
